.header {
    height: 95vh;
    background: radial-gradient(
        circle,
        rgba($color-primary-light, 1),
        rgba($color-primary, 1));
    background-size: cover;
    background-position: top;

    &__logo-box {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        overflow: auto;
    }
}