#loaderArea {
    background-color: $color-primary;
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    z-index: 100000;
}

.loader-white {
    background-color: #FFF !important;
    transition: background-color 2s, opacity 1s ease-in, visibility 1s ease-in;
}

.hidden {
    opacity: 0;
    visibility: none;
}

.loader-none {
    display: none;
}

#loader_logo {
    transition: opacity 1s, visibility 1s;
}

.logo-hidden {
    opacity: 0;
    visibility: none;
}