.brand-name {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    color: $color-grey-dark;
}

a,
a:link,
a:visited {
    text-decoration: none;
    cursor: pointer;
}